<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Email:</label>
        <input type="email" formControlName="email">
        <div *ngIf="submitted && loginForm.controls.email.invalid">
          <small *ngIf="loginForm.controls.email.errors?.['required']">Email richiesta</small>
          <small *ngIf="loginForm.controls.email.errors?.['email']">Email non valida</small>
        </div>
      </div>

      <div>
        <label>Password:</label>
        <input type="password" formControlName="password">
        <div *ngIf="submitted && loginForm.controls.password.invalid">
          <small *ngIf="loginForm.controls.password.errors?.['required']">Password richiesta</small>
          <small *ngIf="loginForm.controls.password.errors?.['minlength']">Minimo 6 caratteri</small>
        </div>
      </div>

      <button type="submit">Login</button>
    </form>
